{% extends "base.html" %}

{% block title %}{{ SITENAME }} - about{% endblock %}

{% block main %}
  <div class="extra-margins">
    <h1>about</h1>
    <p>This website provides resources to evaluate and compare the different
      picture formation algorithm available online. Those kind of algorithm are
      also referred as:</p>
    <ul>
      <li>display rendering transform</li>
      <li>view transform</li>
      <li>LUT</li>
    </ul>
    <p>In few words, picture formation is converting physical quantities
      to a readable visual representation. The concept can be explored further
      with:</p>
    <ul>
      <li>{{ "https://github.com/sobotka/scise/wiki/Picture-Formation"|urlize }}</li>
      <li>{{ "https://hg2dc.com/2025/03/13/question-34/"|urlize }}</li>
      <li>{{ "https://github.com/jedypod/open-display-transform/wiki/doc-introduction"|urlize }}</li>
    </ul>
    <p class="adm-note">The code source for this website and the image
      generation can be retrieved
      at {{ "https://github.com/MrLixm/picture-lab-lxm"|urlize }}.
    </p>
    <h2>Caveats</h2>
    <p>The workflow and the image presented have the following trade-offs:</p>
    <ul>
      <li>The comparison focus only on the SDR capabilities of all algorithm.
        Some may be HDR-compatible while other not.
      </li>
      <li>Some assets were already designed by their author to work with a
        specific picture-formation; their look are bias against it.
      </li>
      <li>Some picture-formation were not designed to be applied through OCIO
        and might be more accurate if used in their proper context.
      </li>
      <li>Quickly comparing images next to each other will more easily reveal
        differences that might not be noticeable otherwise. It's best to let
        your eye adapt to the picture before jumping to a conclusion.
      </li>
    </ul>
    <h2>Software</h2>
    <p>This project is made possible thanks to the following (non-exhaustive)
      free software:</p>
    <ul>
      <li><a href="https://www.python.org/">Python</a></li>
      <li><a href="https://docs.astral.sh/uv/">uv</a></li>
      <li><a href="https://openimageio.readthedocs.io">OpenImageIO</a></li>
      <li><a href="https://opencolorio.org/">OpenColorIO</a></li>
      <li><a href="https://numpy.org/">Numpy</a></li>
      <li><a href="https://jinja.palletsprojects.com">Jinja</a></li>
      <li><a href="https://github.com/letmaik/rawpy">rawpy</a></li>
      <li><a href="https://www.libraw.org/">libraw</a></li>
      <li><a href="https://remixicon.com/">Remix Icon</a></li>
    </ul>
    <h2>Assets</h2>
    <p>Is referred by 'asset' the single image file of a specific scene.</p>
    <p>Most of the assets were retrieved from the web where they were kindly
      made accessible by their author. All rights belong to their respective
      authors, and they are only shared here for education purposes.</p>
    <p class="adm-note">The original image files are not yet shared on the
      source GitHub repository (for licensing reasons).
      But it's possible to download them yourself by
      checking their side-car metadata .json file.</p>
    <h2>Renderers</h2>
    <p>A renderer correspond to a color-transform that must be applied on
      physical pixel data to generate a viewable picture.
      All renderers are color-managed for the same sRGB target
      (2.2 power function).
      Their difference lies in the picture formation algorithm they use.</p>
    <p>In terms of workflow, the color transforms are serialized in an
      OpenColorIO configuration, which will be ingested by OpenImageIO's
      oiiotool for transforming the pixel data.</p>
    <div class="renderers-box">
      {% for Renderer in Renderers %}
        <div class="renderer-item">
          <h3>{{ Renderer.name }}</h3>
          <div class="renderer-item-content">
            <p>{{ Renderer.description|e|urlize }}</p>
            <table>
              <tr>
                <th>source</th>
                <td>{{ Renderer.reference_url|urlize }}</td>
              </tr>
              {%- for ref in Renderer.references %}
                <tr>
                  <th>reference</th>
                  <td>{{ ref|urlize }}</td>
                </tr>
              {%- endfor %}
            </table>
            <p><b>OCIO transform configuration:</b></p>
            <table>
              <tr>
                <th>display</th>
                <td>{{ Renderer.config_display }}</td>
              </tr>
              <tr>
                <th>view</th>
                <td>{{ Renderer.config_view }}</td>
              </tr>
              <tr>
                <th>look</th>
                <td>{{ Renderer.config_look }}</td>
              </tr>
            </table>
          </div>
        </div>
      {% endfor %}
    </div>
    <h2>Contact</h2>
    <p>For any feedback/requests, see contact options at
      <a target="_blank" href="https://mrlixm.github.io/pages/contact/">https://mrlixm.github.io/pages/contact/</a>
    </p>
    <div class="changelog">
      <h2>CHANGELOG</h2>
      <h3>27-03-25</h3>
      <ul>
        <li>renderer: Use OpenDRT v1.0.0 thanks to Chris Brejon OCIO config.</li>
      </ul>
      <h3>20-03-25</h3>
      <ul>
        <li>improve index page styling</li>
        <li>added this changelog</li>
        <li>fix name of T-CAM renderer</li>
        <li>fix consistence of transfer-function for sRGB colorspaces in
          renderers: we force the 2.2 power function to be used.
        </li>
      </ul>
      <h3>19-03-25</h3>
      <ul>
        <li>fixed <i>Pbri-H34-sunflower</i> being clamped</li>
        <li>publicly shared the site</li>
      </ul>
      <h3>17-03-25</h3>
      <ul>
        <li>initial site creation</li>
      </ul>
    </div>
  </div>
{% endblock %}